.DS_Store
.idea/
.vscode/
/bench/
/demo/
/deno/
/esbuild
/github/
/npm/esbuild-android-64-for-imba/esbuild.wasm
/npm/esbuild-android-64-for-imba/exit0.js
/npm/esbuild-android-64-for-imba/wasm_exec_node.js
/npm/esbuild-android-64-for-imba/wasm_exec.js
/npm/esbuild-wasm-for-imba/browser.js
/npm/esbuild-wasm-for-imba/esbuild.wasm
/npm/esbuild-wasm-for-imba/esm/
/npm/esbuild-wasm-for-imba/exit0.js
/npm/esbuild-wasm-for-imba/lib/
/npm/esbuild-wasm-for-imba/wasm_exec_node.js
/npm/esbuild-wasm-for-imba/wasm_exec.js
/npm/esbuild-for-imba/install.js
/npm/esbuild-for-imba/lib/
/require/*/bench/
/require/*/demo/
/scripts/.*/
/validate/
bin
esbuild.exe
node_modules/